* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.header {
  font-size: 80px;
  margin-top: 80px;
  text-align: center;
  text-decoration: underline overline;
  color: rgb(243, 207, 178);
}

body {
  font-family: "Viaoda Libre", cursive;
  /* background-color: rgb(240, 208, 196); */
  margin-bottom: 500px;
  background-image: url("images/background.jpg");
  background-repeat: repeat;
  background-size: contain;
}

.container {
  border: 2px rgb(190, 148, 120) solid;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 600px;
  height: auto;
  margin: auto;
  margin-top: 400px;
  background: linear-gradient(
      rgba(255, 255, 255, 0.7),
      rgba(255, 255, 255, 0.7)
    ),
    url("images/makkeDiRoti.jpg");
  /* background-color: rgb(245, 210, 164); */
  overflow: auto;
  position: relative;
}

/* .container::after {
  content: "";
  background-image: url(images/makkeDiRoti.jpg);
  opacity: 0.3;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
} */
.dish__img {
  height: 280px;
  width: 95%;
  margin-top: 20px;
  border-radius: 20px;
  transform: translateY(-1%);
  overflow-y: hidden;
}

.state__img {
  height: 200px;
  width: 200px;
  border-radius: 100px;
  transform: translateY(-30%);
}

.name {
  font-size: 50px;
  color: rgb(143, 65, 1);
  font-weight: 800;
}
.text {
  margin-bottom: 70px;
  border-top: 1px black solid;
}

.heading {
  font-size: 40px;
  color: rgb(143, 65, 1);
  font-weight: 700;
}

.grid {
  display: grid;
  grid-template-columns: 3fr 3fr 3fr;
  gap: 10px;
}

@media only screen and (max-width: 600px) {
  .header {
    font-size: 20px;
  }
  body {
    font-family: "Viaoda Libre", cursive;
    /* background-color: rgb(240, 208, 196); */
    margin-bottom: 500px;
    background-image: url(images/background-mobile.jpg);
    background-size: cover;
    background-repeat: repeat;
  }
  .grid {
    display: block;
    flex-direction: column;
  }
  .container {
    height: 400px;
    width: 300px;
    margin: 30px auto;
    background-position: center;
  }

  .dish__img {
    height: 200px;
    width: 95%;
    margin-top: 20px;
    border-radius: 20px;
    transform: translateY(-1%);
    overflow-y: hidden;
  }

  .state__img {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    transform: translateY(-30%);
  }

  .name {
    font-size: 30px;
    color: rgb(143, 65, 1);
    font-weight: 800;
  }
  .text {
    margin-bottom: 70px;
    border-top: 1px black solid;
  }

  .heading {
    font-size: 30px;
    color: rgb(0, 0, 0);
    font-weight: 700;
  }
}
